/* CSS declarations go here */

@font-face {
  font-family: castiron;
  src: url('castiron.ttf');
}

.title {  
  font-family:castiron;
  font-size:400%;
  color:#000;
  text-align:center;
  text-shadow:0px 0px 8px #000;
}
html {
	height:100%;
}
body {
	background: #909090;
	height:100%;
}

table {
	margin-left: auto;
  margin-right: auto;
	width:90%;
}

th {
	width:30%;
	font-size:150%;
	background:#bdbdbd;
}
tr:nth-child(even){
	background:#9f9f9f;
}
tr:nth-child(odd){
	background:#afafaf;
}

input[type=text]{
	transition:background 0.9s;
	background:#a5a5a5;
	outline: 0;
	width:100%;
	height:100%;
	border:none;
}
input[type=text]:hover{
  transition:background 0.9s;
  background:#d0d0d0;
}
.tt-dropdown-menu {
	background-color:#b0b0b0;
	width:100%;
}
.twitter-typeahead {
	width:100%;
}

#event-panel {
	color:#FFF;
	background:#323232;
	margin-left:2.5%;
	margin-right:2.5%;
	top: -200%;
	width:95%;
	position:absolute;
	-webkit-transition: all ease 1s;
	transition: all ease 1s;
	padding:4px;
	z-index:15;
	border-bottom-left-radius: 	20px;
	border-bottom-right-radius: 20px;
}
#event-panel:target {
	top:0%;
	transform: translate3d(0%,100%, 0%);
	transition: all ease 1s;
	-webkit-transform: translate3d(0%,100%, 0%);
	-webkit-transition: all ease 1s;
}

#event-panel > div {
	background:#626262;
}

.e-button {
	display:block;
	background:#bababa;
	text-decoration:none;
	color:#FFF;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	height:2em;
	font-size:1.5em;
	text-align:center;
	border-radius:8px;
	
}
.flex-container {
	-webkit-flex-direction: column;
	-webkit-flex: 1 1 auto;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;
	-webkit-align-items: center;
}

.flex {
	background:#828282 !important;
	display:-webkit-inline-flex;
	-webkit-flex-direction: column;
	-webkit-flex: 1 1 auto;
	-webkit-transition: all 0.7s ease-out;
	display:inline-flex;
	flex-direction: column;
	flex: 1 1 auto;
	transition: all 0.7s ease-out;
	min-width:300px;
	max-width:95%;
	height:95%;
	align-items: center;
	-webkit-align-items: center;

}

.flex > input {
	display:-webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex: 1 1 auto;
  -webkit-transition: all 0.7s ease-out;
	display:flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: all 0.7s ease-out;
	height:1.5em;
}
.login-link-text {
  display:block;
  background:#bababa;
  text-decoration:none !important;
  color:#FFF;
	padding: 0.25em;
  margin-left:auto;
  margin-right:auto;
  font-size:1.5em;
  text-align:center;
  border-radius:8px;
	margin-bottom:4px;
}
#map {
	height:400px;
	border:2px solid #ababab;
	margin: 2px;
	margin-top:8px;
}
.datepicker {
	color:#000;
}
#event-feedback {
	height: 1em;
}
