/* CSS declarations go here */

@font-face {
  font-family: castiron;
  src: url('castiron.ttf');
}

.title {  
  font-family:castiron;
  font-size:400%;
  color:#000;
  text-align:center;
  text-shadow:0px 0px 8px #000;
}

body {
	background: #909090;
}

table {
	margin-left: auto;
  margin-right: auto;
	width:90%;
}

th {
	width:30%;
	font-size:150%;
	background:#bdbdbd;
}
tr:nth-child(even){
	background:#9f9f9f;
}
tr:nth-child(odd){
	background:#afafaf;
}

input[type=text]{
	transition:background 0.9s;
	background:#a5a5a5;
	outline: 0;
	width:100%;
	height:100%;
	border:none;
}
input[type=text]:hover{
  transition:background 0.9s;
  background:#d0d0d0;
}
#event-panel {
	width:95%;
	height:98%;
	background:#323232;
	margin-left:2.5%;
	margin-right:2.5%;
	top: -100%;
	position:absolute;
	-webkit-transition: all ease 1s;
	border-radius:8px;
	padding:4px;
	z-index:15;
	opacity:0.9;
}
#event-panel:target {
	top:0%;
	transform: translate3d(0%,100%, 0%);
	transition: all ease 1s;
	-webkit-transform: translate3d(0%,100%, 0%);
	-webkit-transition: all ease 1s;
}

.e-button {
	background:#bababa;
	padding:0.5em;
	text-decoration:none;
	color:000;
	border-radius:0.25em;
}

#add-button {
	position: absolute;
	top:	0%;
	left: 0%;
	z-index:10;
}


